@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

body span {
  display: inline-block;
  color: rgb(255, 115, 63);
  margin-bottom: 5px;
}

.full-page {
  height: 100vh;
  width: 100%;
  background: coral;
  position: absolute;
}

.form-box {
  width: 40vw;
  height: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.form {
  position: relative;
  margin: 0 auto 100px;
  padding: 10px 45px;
  text-align: center;
}

.form__heading {
  color: orangered;
  padding-bottom: 10px;
}

.form input {
  font-family: sans-serif;
  outline: none;
  border: none;
  width: 100%;
  margin: 0 0 10px;
  padding: 10px;
  font-size: 14px;
}

.form button {
  font-family: sans-serif;
  width: 100%;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 15px;
  border: none;
  background: coral;
}

.form__message {
  font-size: 12px;
  margin: 15px 0 0;
  color: white;
}

.form__message a {
  color: orangered;
  text-decoration: none;
}

.register-form {
  display: none;
}

.register-form {
  width: 100%;
}

.form-box--active {
  height: 700px;
  overflow-y: auto;
  transition: .5s;
}

.question input {
  width: 30px;
}

.dropdown {
  width: 100%;
}

.area__text {
  width: 100%;
  resize: none;
}

.radio input {
  width: 30px;
}